body{
    background-image: url(bgc.jpg);
}
input,select,textarea{
 width: 300px;
    padding: 15px;
    margin-top: 10px;
    border: 2px solid #1abc9c;
    outline: none;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
}
input::placeholder{
    color: black;
}
form{
    background-color: #fff;
    width: 700px;
    text-align:center;
    margin:50px auto;
    padding: 30px;
    border-radius:8px;
}
legend{
    text-align: left;
    color:#1abc9c; 
}
fieldset{
   border-color: #1abc9c; 
}

    
label{
   display:block;
    text-align: left;
    color: #1abc9c
}
select{
    width: 330px;
}
.radio{
    color: #000;
    display: inline-block;
    
        
}
input[type=radio]{
    width: 13px;
}
.sweetbox{
    display:inline-block;
}
input[type=checkbox]{
    width: 13px;
}
input[type=submit]{
  background-color: #1abc9c;
    color: white
}
input[type=submit]:hover{
  background-color: #fff;
    color: green;
    cursor: pointer
    
}
    

